<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Sign up
{% endblock %}


{% block body_block %}

	<h2>Register for Cafeholics</h2>
		<form id="cafesmain" method="post" action="{% url 'sign_up' %}"
			enctype="multipart/form-data">
			<strong>Please sign up here!</strong><br />
			{% csrf_token %}
			<div class="formsdisplay">
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			</div>
			<button class="submit" type="submit"/>Sign up</button><br/>
		</form>
{% endblock %}
