
/*cafe description layout*/

#cafedescription{
	background: #FAF5E9;
	padding: 20px 20px;
	outline: none;
	text-align: center;
	margin: 0 auto;
	overflow: auto;
	opacity: 0.8;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 8px rgba(0,0,0,.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 8px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 8px rgba(0,0,0,.3);

}

.cafedetails{
	width: 90%;
	opacity: 1;
}

img.cafeimage{
	height: 300px;
	width: 300px;
	margin: 20px auto;
}

#reviewdescription{
	background:#FAF5E9;
	padding: 0px 20px;
	outline: none;
	margin: 30px 30px auto;
	float: left;
	width: 500px;
	overflow: auto;
	opacity: 0.8;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	-o-transform:rotate(-1deg);
  	-webkit-transform:rotate(-1deg);
  	-moz-transform:rotate(-1deg);

	box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 8px rgba(0,0,0,.3);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 8px rgba(0,0,0,.3);

}
