<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About us
{% endblock %}
>
{% block body_block %}
 <h1> WELCOME </h1>
<center><b> -Our Mission - </b></center> 
To provide our customers with the most efficient rating system 
and educating readers about cafes with in-depth tasting reports and technically informed commentary.
	<div>
<p>Cafeholics was founded in 1997 and since its founding, it has become the world's most widely read and influential cafe interest guide. Most of the great changes that have taken place in the fine cafe world over the past eighteen years have been reflected in and often anticipated by our thousands of reviews and over two-hundred tasting reports and major articles.
Our goal at CafeHolics Review is to entertain and educate coffee and various beverage drinkers, food service professionals, and the cafe trade with a credible and easy-to-use cafe guide based on objective, blind reviews from and other experienced individuals in the specialty and elegant cafe industry. </p>
 </div>
<div>
<strong>OUR TEAM</strong>
<p>Cafe-passionate professionals who want customers to evaluate different cafes and create Reviews. </p>
</div>
<div> 
<strong>INTERPRETING REVIEWS </strong>
<p>Price, Service, Atmosphere, Quality and Waiting time are the trditional categories used by cafeholics customers and many professionals when evaluating cafes.We use a rating system of 1 (low) to 5 (high) for each of these five categories, reflecting both intensity (how much) and quality (how good.) </p>
</div>
<div> 
<strong>CONTACT US </strong>
<p>Our mailing address for samples and other correspondence is: <br />

The Cafeholics </br>
2625 Alcatraz Avenue #263 </br>
Berkeley, CA 94705 </br>
 </p>
General Questions and Review Services <br/> 
<br/>
For general questions about Cafeholics and to find out how to get cafes reviewed, contact us at ch@Cafeholics.com.
</div>
{% endblock %}
