<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About us
{% endblock %}

{% block body_block %}

	<h2> About us </h2></br>
	<div id="cafesabout">
		<div>
		<center><b> - OUR AIM - </b></center> 
		To provide our customers with the most efficient rating system 
		and educating readers about cafes with in-depth tasting reports and technically informed commentary.
		</div>
		<div>
		<strong>OUR TEAM</strong>
			<p>Cafe-passionate professionals who want customers to evaluate different cafes and create Reviews. </p>
		</div>
		<div> 
		<strong>INTERPRETING REVIEWS </strong>
			<p>Price, Service, Atmosphere, Quality and Waiting time are the trditional categories used by cafeholics customers and many professionals when evaluating cafes.We use a rating system of 1 (low) to 5 (high) for each of these five categories, reflecting both intensity (how much) and quality (how good.) </p>
		</div>
		
		<div> 
			<strong>CONTACT US </strong>
			<p>Our mailing address for samples and other correspondence is: <br>

			The Cafeholics <br>
			The University Of Glasgow <br>
			G12 8QQ <br>
		</div>
	</div>
{% endblock %}
