<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add cafe
{% endblock %}

{% block body_block %}

	<h2> Add a Cafe </h2>
    <div>
        <form id = "add_cafe" method = "post" action="">
    {% csrf_token %}

	{% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }} <br>
                {{ field.label }} <br>
                {{ field }}  <br>
            {% endfor %}
            <input type="submit" name="submit" value="Add Cafe" />
        </form>
    </div>
{% endblock %}
