<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}



<!-- JS script for dropdown menu:
$(function() {
  // choose target dropdown
  var select = $('select');
  select.html(select.find('option').sort(function(x, y) {
    // to change to descending order switch "<" for ">"
    return $(x).text() > $(y).text() ? 1 : -1;
  }));
  // select default item after sorting (first item)
  // $('select').get(0).selectedIndex = 0;
});
-->
<script src="jquery-3.3.1.js"></script>
<script>
$(document).ready(function () {
  $('.group').hide();
  $('#average_rating').show();
  $('#dropdown').change(function () {
    $('.group').hide();
    $('#'+$(this).val()).show();
  })
});
</script>

{% block title_block %}
	Cafes
{% endblock %}

{% block body_block %}

	<form id="searchform" method="GET" action="">
			<input class="searchButton" type="submit" value="Search"/>
			<input class="searchbar" type="text" placeholder="What cafe are you looking for..">
	</form>
	<h2>
		All Cafes<br>
    <center>
    <h2>Sort by:</h2><br>
        <p>
          <button onclick="priceDisplay()">Price</button>
          <button onclick="qualityDisplay()">Quality</button>
          <button onclick="waiting_timeDisplay()">Waiting Time</button>
          <button onclick="serviceDisplay()">Service</button>
          <button onclick="atmosphereDisplay()">Atmosphere</button>
        </p>
    </h2>
    <center>
 	<div id="displayCafes">
    {% if errors %}
    			<strong>These are not the Cafes you are looking for.</strong>
    {%  else %}
      		{% if cafes %}
                {% if flag_code == 0 %}
                      {% if byAverage %}
                          {% for cafe in byAverage %}
                              <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                          {% endfor %}
                      {%  endif %}
                  {% endif %}
                  {% if flag_code == 1 %}
                        {% if byPrice %}
            				        {% for cafe in byPrice %}
            					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                            {% endfor %}
                        {%  endif %}
                  {% endif %}
                  {% if flag_code == 2 %}
                          {% if byAtmosphere %}
              				        {% for cafe in byAtmosphere %}
              					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
              				        {% endfor %}
                          {%  endif %}
                  {% endif %}
                  {% if flag_code == 3 %}
                            {% if byQuality %}
                				        {% for cafe in byQuality %}
                					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                				        {% endfor %}
                            {%  endif %}
                  {% endif %}
                  {% if flag_code == 4 %}
                              {% if byService %}
                  				        {% for cafe in byService %}
                  					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                  				        {% endfor %}
                              {%  endif %}
                  {% endif %}
                  {% if flag_code == 5 %}
                              {% if byWaitingTimes %}
                  				        {% for cafe in byWaitingTimes %}
                  					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a> <br>
                  				        {% endfor %}
                              {%  endif %}
                  {% endif %}
      		{% else %}
      			<strong>There aren't any cafes registered.</strong>
      		{% endif %}

    {%  endif %}
	</div>
  </center>
    <script>
        function priceDisplay() {
            flag_code = 1;
        }
        function qualityDisplay() {
            flag_code = 3;
        }
        function atmosphereDisplay() {
            flag_code = 2;
        }
        function serviceDisplay() {
            flag_code = 4;
        }
        function waiting_timeDisplay() {
            flag_code = 5;
        }
    </script>
{% endblock %}