<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

<!-- JS script for dropdown menu:
$(function() {
  // choose target dropdown
  var select = $('select');
  select.html(select.find('option').sort(function(x, y) {
    // to change to descending order switch "<" for ">"
    return $(x).text() > $(y).text() ? 1 : -1;
  }));
  // select default item after sorting (first item)
  // $('select').get(0).selectedIndex = 0;
});
-->

{% block title_block %}
	Cafes
{% endblock %}

{% block body_block %}

	<form id="searchform" method="GET" action="">
			<input class="searchButton" type="submit" value="Search"/>
			<input class="searchbar" type="text" placeholder="What cafe are you looking for..">
	</form>
	<h2>
		All Cafes
        <div id="average_rating" class="group">{% for cafe in byAverage %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}</div>
        <div id="price" class="group">{% for cafe in byPrice %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}</div>
        <div id="service" class="group">{% for cafe in byService %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}</div>
        <div id="atmosphere" class="group">{% for cafe in byAtmosphere %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}</div>
        <div id="quality" class="group">{% for cafe in byQuality %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}</div>


		<select id="dropdown">
			<option selected>Sort by</option>
			<option value="average_rating">Average rating</option>
			<option value="price">Price</option>
			<option value="service">Service</option>
			<option value="atmosphere">Atmosphere</option>
			<option value="quality">Quality</option>
			<option value="waiting_time">Waiting time</option>
		</select>
	</h2>
 	<div id="displayCafes">
    {% if errors %}
    			<strong>These are not the Cafes you are looking for.</strong>
    {%  else %}
		{% if cafes %}
			<ol>
            {% for cafe in cafes %}
                <li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
            {% endfor %}
            </ol>
            <ol>
            {% if byPrice %}
				{% for cafe in byPrice %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
            <ol>
            {% if byAtmosphere %}
				{% for cafe in byAtmosphere %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
            <ol>
            {% if byQuality %}
				{% for cafe in byQuality %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
            <ol>
            {% if byService %}
				{% for cafe in byService %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
            <ol>
            {% if byWaitingTimes %}
				{% for cafe in byWaitingTimes %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
            <ol>
            {% if byAverage %}
				{% for cafe in byAverage %}
					<li><a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					<!-- <p class="rating">{{ cafe.avg_rating }}</p> --></li>
				{% endfor %}
            {%  endif %}
			</ol>
		{% else %}
			<strong>There aren't any cafes registered.</strong>
		{% endif %}
    {%  endif %}
	</div>
{% endblock %}