<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}
<!-- <script src="jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
       $('#byAverage').show();
       $('#byPrice').hide();
       $('#byQuality').hide();
       $('#byAtmosphere').hide();
       $('#byWaitingTimes').hide();
       $('#byService').hide();
    });
    $(document).ready(function () {
        $("#Price").click(function () {
            $('#byAverage').hide();
            $('#byPrice').show();
            $('#byQuality').hide();
            $('#byAtmosphere').hide();
            $('#byWaitingTimes').hide();
            $('#byService').hide();
        });
        $("#Quality").click(function () {
            $('#byAverage').hide();
            $('#byPrice').hide();
            $('#byQuality').show();
            $('#byAtmosphere').hide();
            $('#byWaitingTimes').hide();
            $('#byService').hide();
        });
        $("#Atmosphere").click(function () {
            $('#byAverage').hide();
            $('#byPrice').hide();
            $('#byQuality').hide();
            $('#byAtmosphere').show();
            $('#byWaitingTimes').hide();
            $('#byService').hide();
        });
        $("#Service").click(function () {
            $('#byAverage').hide();
            $('#byPrice').hide();
            $('#byQuality').hide();
            $('#byAtmosphere').hide();
            $('#byWaitingTimes').hide();
            $('#byService').show();
        });
        $("#WaitingTimes").click(function () {
            $('#byAverage').hide();
            $('#byPrice').hide();
            $('#byQuality').hide();
            $('#byAtmosphere').hide();
            $('#byWaitingTimes').show();
            $('#byService').hide();
        });
    });

</script> -->
{% block title_block %}
	Cafes
{% endblock %}

{% block body_block %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   name="search"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
	<h2>
		All Cafes<br>
    <center>
    <h2>Sort by:</h2><br>
        <p>
          <button id = "Price">Price</button>
          <button id= "Quality">Quality</button>
          <button id="WaitingTimes">Waiting Time</button>
          <button id="Service">Service</button>
          <button id="Atmosphere">Atmosphere</button>
        </p>
    </center>
    </h2>
    </center>
 	<div id="displayCafes">
    {% if errors %}
    			<strong>These are not the Cafes you are looking for.</strong>
    {%  else %}
      		{% if cafes %}
              <p id="byAverage">
                      {% if byAverage %}
                          {% for cafe in byAverage %}
                              <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                          {% endfor %}
                      {%  endif %}
              </p>
              <p id ="byPrice">
                        {% if byPrice %}
            				        {% for cafe in byPrice %}
            					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                            {% endfor %}
                        {%  endif %}
              </p>
              <p id="byAtmosphere">
                          {% if byAtmosphere %}
              				        {% for cafe in byAtmosphere %}
              					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
              				        {% endfor %}
                          {%  endif %}
              </p>
              <p id="byQuality">
                            {% if byQuality %}
                				        {% for cafe in byQuality %}
                					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                				        {% endfor %}
                            {%  endif %}
              </p>
              <p id="byService">
                              {% if byService %}
                  				        {% for cafe in byService %}
                  					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
                  				        {% endfor %}
                              {%  endif %}
              </p>
              <p id="byWaitingTimes">
                              {% if byWaitingTimes %}
                  				        {% for cafe in byWaitingTimes %}
                  					           <a class="aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a> <br>
                  				        {% endfor %}
                              {%  endif %}
              </p>
      		{% else %}
      			<strong>There aren't any cafes registered.</strong>
      		{% endif %}

    {%  endif %}
	</div>
{% endblock %}
