<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ cafe.name}}
{% endblock %}

{% block body_block %}

	<h2>{{cafe.name}}</h2>
	<div id = "cafedescription">
		<img class = "cafeimage" src="{{ MEDIA_DIR }}cafe_images/{{ cafe.picture }}" alt="Picture of {{ cafe.name }}" width="30%"/>
		<div class="cafedetails">
			Price point: {{cafe.pricepoint}}<br>
			<p>{{cafe.description}}</p>
			Address: {{cafe.address}}<br>
			Opening hours: {{cafe.opening_hours}}<br>
			<a class="aa" href="{% url 'write_review' cafe.slug %}" >Leave a review for {{cafe.name}} </a> <br>
            <a class="aa" href="https://www.google.com/maps/search/?api=1&query={{ cafe.address }}" target="_blank">Open in Google Maps</a>
		</div>
	</div>

	<h3>Reviews</h3>

	<!-- <div id = 'cafedescription'> -->
		{% if reviews %}
			<!-- <ul> -->
				{% for review in reviews %}
					<div id ='reviewdescription'>
					<p>
					<p><strong>{{ review.user }}</strong></p>

					<strong>Price:</strong> <span class="fa fa-star checked">{{ review.price }}</span><br>
					<strong>Service:</strong> {{ review.service }}<br>
					<strong>Atmosphere:</strong> {{ review.atmosphere }}<br>
					<strong>Quality:</strong> {{ review.quality }}<br>
					<strong>Waiting time:</strong> {{ review.waiting_time }}<br>

					{% if review.comments %}
						Review:
						{{ review.comments }}<br>
					{% endif %}
					{{ review.pub_date }} <br>

					</p>
					</div>
				{% endfor %}
			<!-- </ul> -->

	{% else %}
		<strong>There are no reviews yet.</strong>
	{% endif %}

{% endblock %}