<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ cafe.name}}
{% endblock %}

{% block body_block %}

    <h2 xmlns="http://www.w3.org/1999/html">{{cafe.name}}</h2>
	<div id = "cafedescription">
    <img src="{{ MEDIA_URL }}{{ cafe.picture }}" alt="{{ cafe.name }}">
		<div class="cafedetails">
            {% if cafe.pricepoint == 1 %}
                Price Estimate: Cheap
            {% elif cafe.pricepoint == 2 %}
                Price Estimate: Moderate
            {% elif cafe.pricepoint == 3 %}
                Price Estimate: Deluxe
            {% endif %}
            <br>
			<p>Description: {{cafe.description}}</p>
			Opening hours: {{cafe.opening_hours}}<br>
            <br>Address:<a class="aa" href="https://www.google.com/maps/search/?api=1&query={{ cafe.address }}" target="_blank"> {{ cafe.address }}</a><br><br>
        {% if user.is_authenticated %}
			{% if  not user.userprofile.is_owner%}
                <button onclick="window.location.href = '{% url 'write_review' cafe.slug %}';">Review {{ cafe.name }}</button><br><br>
            {% elif user.username == owner.user.username %}
                <button onclick="window.location.href = '{% url 'edit_cafe' cafe.slug %}';">Edit {{ cafe.name }}</button><br><br>
            {% endif %}
        {% endif %}
		</div>
	</div>

	<h3>Reviews</h3>
		{% if reviews %}
				{% for review in reviews %}
					<div id ='reviewdescription'>
					<p>
					<p><strong>{{ review.user }}</strong></p>

					<strong>Price:</strong> <span class="fa fa-star checked">{{ review.price }}</span><br>
					<strong>Service:</strong> {{ review.service }}<br>
					<strong>Atmosphere:</strong> {{ review.atmosphere }}<br>
					<strong>Quality:</strong> {{ review.quality }}<br>
					<strong>Waiting time:</strong> {{ review.waiting_time }}<br>

					{% if review.comments %}
						Review:
						{{ review.comments }}<br>
					{% endif %}
					{{ review.pub_date }} <br>

					</p>
					</div>
				{% endfor %}

	{% else %}
		<strong>There are no reviews yet.</strong>
	{% endif %}


{% endblock %}
