<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Edit {{ cafe_name_slug }}
{% endblock %}

{% block body_block %}
<h1> Edit {{ cafe_name_slug }} </h1>
<div> 
   <form id = "edit_cafe" method = "post" action="my_cafes/chosen_cafe/">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
                                   {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                                   {{ field.errors }}
                                   {{ field.help_text }}
                         <div class = 'fields'>{{ field }} <br><div>

                        {% endfor %}
                        <button class="submit" type="submit">Edit Cafe</button><br/>
{% endblock %}