<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<center><p>Welcome to Cafeholics. Here you can find your next favourite cafe. <br>
	You can you use the search bar below to find your next go-to place.</p></center>
		<nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   name="search"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

	<h2> Top rated cafes </h2>
	<center><div id="cafesmain">
		{% if cafes %}
				{% for cafe in cafes %}
					<a class = "aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
					<p class = 'avg_rating'>Average rating: {{ cafe.avg_rating }} out of 5</p><br>
				{% endfor %}
		{% else %}
			<strong>There are no cafes registered.</strong>
		{% endif %}
	</div></center>
{% endblock %}
