<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<p>Welcome to Cafeholics. Here you can find your next favourite cafe. <br>
	You can you use the search bar below to find your next go-to place.</p>
		<form id="searchform" method="GET" action="">
			{% csrf_token %}
			<input class="searchButton" type="submit" value="Search"/>
			<input class="searchbar" type="text" placeholder="What cafe are you looking for..">

		</form>

	<h2> Top rated cafes </h2>
	<div id="cafesmain">
		{% if cafes %}
				{% for cafe in cafes %}
					<a class = "aa" href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a><br>
					<p class = 'avg_rating'>Average rating: {{ cafe.avg_rating }}</p><br>
				{% endfor %}
		{% else %}
			<strong>There are no cafes registered.</strong>
		{% endif %}
	</div>
{% endblock %}
