<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<p> Weclome to Cafeholics. Here you can find your next favourite cafe. </br>
	You can you use the search bar below to find your next go-yo place. </p>
		<form id="searchform" method="GET" action="">
			{% csrf_token %}
			<input class="searchButton" type="submit" value="Search"/>
			<input class="searchbar" type="text" placeholder="What cafe are you looking for..">
			
		</form>
		
		
<!-- Think this goes into search_results.html???

	{% if books %}
		{% for each_book in books %} // books is list here so pick each element using for loop 
		<a href="{% url 'buy_book' pk=each_book.pk %}">
		<!--Upon successful search book image with hyperlink appears -->
		<!-- <img src="{{each_book.image.url}}" alt="No Image"></a>
		<p>{{each_book.bookname}}</p>
		<p>Rs.{{each_book.price}}</p>   
		{% endfor %}
	{% endif %}
	
-->
		
	<h2> Top rated cafes </h2>
	<div id="displayCafes">
		{% if cafes %}
			<ol>
				{% for cafe in cafes %}
					<li>
					<a href="{% url 'chosen_cafe' cafe.slug %}">{{ cafe.name }}</a>
					
					<!-- <p class="rating">{{ cafe.average_rating }}</p> -->
					{{cafe.name}}
					</li>
				{% endfor %}
			</ol>
		{% else %}
			<strong>There are no cafes registered.</strong>
		{% endif %}
	</div>

	
	
{% endblock %}