<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Log in
{% endblock %}

{% block body_block %}
	<h2>Register for Cafeholics</h2>
	
	<form id="mainform" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<strong>Log in to your Cafeholics account</strong><br/>
		Username: <input class="mainforms" type="text" name="username" value=""/><br/>
		Password: <input class="mainforms" type="password" name="password" value=""/><br/>
		<button class="submit" type="submit">Log In</button><br/>
		<!-- <input type="submit" value="submit" /> -->
	</form>
	<p>Don't have an account? <a href="{% url 'sign_up' %}"> Register here!</a></p>
		
{% endblock %}
