<!DOCTYPE html>
{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Cafes
{% endblock %}

{% block body_block %}

<h2> My Cafes </h2>
    {% if cafe_list %}
        {% for cafe in cafe_list %}
            <div id ='reviewdescription'>
                Cafe Name: <a class="aa" href="{% url 'chosen_cafe'  cafe.slug %}">{{ cafe.name }}</a> <br>
                {% if cafe.pricepoint == 1 %}
                    Price Estimate: Cheap
                {% elif cafe.pricepoint == 2 %}
                    Price Estimate: Moderate
                {% elif cafe.pricepoint == 3 %}
                    Price Estimate: Deluxe
                {% endif %} <br>
                Address: {{cafe.address}}  <br>
                Description: {{ cafe.description }} <br>
                Opening Hours: {{ cafe.opening_hours }} <br>
                <button onclick="window.location.href = '{% url 'edit_cafe' cafe.slug %}';">Edit Cafe</button>
                <button onclick="window.location.href = '{% url 'delete_cafe' cafe.slug %}';">Delete Cafe</button><br>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <strong>You don't own any cafes </strong> <br>
    {% endif %}
{% endblock %}
