<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Cafes
{% endblock %}

{% block body_block %}

<h2> My Cafes </h2>
{% if cafe_list %}
    Here are your cafes:
    {% for cafe in cafe_list %}
<div id = cafedescription>
        Cafe Name: <a class="aa" href="{% url 'chosen_cafe'  cafe.slug %}">{{ cafe.name }}</a> <br>
        Price Point: {{ cafe.pricepoint }} <br>
        Address: {{cafe.address}}  <br>
        Description: {{ cafe.description }} <br>
		<button onclick="window.location.href = '{% url 'edit_cafe' cafe.slug %}';">Edit Cafe</button><br><br>
</div>
    {% endfor %}
{% else %}
    <strong>You don't own any cafes </strong> <br>
{% endif %}
{% endblock %}
