<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Cafes
{% endblock %}

{% block body_block %}

<h1> My Cafes </h1>
Following are the cafes owned by  {{ cafe.owner }}

{% if cafe_list %}
<div>
     <ul>
    {% for cafe in cafe_list %}
          <li>
            
        Cafe Name: {{ cafe.name }} <br>
        Price Point: {{ cafe.pricepoint }} <br>
        Address: {{cafe.address}}  <br>
        Description: {{ cafe.description }} <br>
          <a class="aa" href="{% url 'chosen_cafe'  cafe_name.slug %}">{{ cafe.name }}</a>

          {% endfor %}
          </ul>
          {% else %}
                            <strong>No owned cafe uploaded </strong>
  <a class="aa" href="{% url 'add_cafe' %}">Add Cafe</a>
          {% endif %}

{% endblock %}
