<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Reviews
{% endblock %}

{% block body_block %}
    <h2> My Reviews </h2>
   {% for reviews in reviews_list %}
        Review for Cafe: {{reviews.cafe}} on {{reviews.pub_date}}<br>
        Price: {{ reviews.price }} <br>
        Service: {{ reviews.service }} <br>
        Atmosphere: {{ reviews.atmosphere }} <br>
        Quality: {{ reviews.quality }} <br>
        Waiting Time: {{ reviews.waiting_time }} <br>
        Your Average Rating: {{ reviews.avg_rating }} <br>

        Comments: {{ reviews.comments }}

   {% endfor %}

{% endblock %}
