<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My reviews
{% endblock %}

{% block body_block %}
<h2> My Reviews </h2>
<div>
    {% if reviews_list %}
        {% for review in reviews_list %}
            <div id ='reviewdescription'>
                Review for <a class="aa" href="{% url 'chosen_cafe'  review.cafe.slug %}">{{ review.cafe.name }}</a> <br>
                <strong>Price:</strong> {{ review.price }} <br>
                <strong>Service:</strong> {{ review.service }} <br>
                <strong>Atmosphere:</strong> {{ review.price }} <br>
                <strong>Quality:</strong> {{ review.quality }} <br>
                <strong>Waiting time:</strong> {{ review.waiting_time }}<br>
                <strong>Feedback Comments:</strong><br>
                {{ review.comments }} <br>
                <button onclick="window.location.href = '{% url 'edit_review' review.cafe.slug %}';">Edit</button>
                <button onclick="window.location.href = '{% url 'delete_review' review.cafe.slug %}';">Delete</button>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <div class="about"> <strong>No reviews to display </strong></div>
    {% endif %}
</div>
{% endblock %}
