<!DOCTYPE html>

{% extends 'cafe/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Write a review
{% endblock %}

{% block body_block %}
	<h2>{{cafe.name}}</h2>
	
	<div id = "cafedescription">
		<img class = "cafeimage" src="{{ MEDIA_DIR }}cafe_images/{{ cafe.picture }}" alt="Picture of {{ cafe.name }}" width="30%"/>
		<div class="cafedetails">
			Price point: {{cafe.pricepoint}}<br>
			<p>{{cafe.description}}</p>
			Address: {{cafe.address}}<br>
			Opening hours: {{cafe.opening_hours}}<br>
		</div>
	</div>
	
	<form id="mainform" method="post" action="{% url 'chosen_cafe' cafe.slug %}">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			<br> {{ field.label }} {{ field }}
            <br>
		{% endfor %}
		<textarea rows="5" cols="100" name="comment" form="mainform">Leave comments here...</textarea>
		<button class="submit" type="submit">Submit review</button><br/>
	</form>
{% endblock %}